footer {
    background-color: rgb(209, 209, 209);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
    max-width: 100%;
  }

  .social-icons {
    margin-top: 10px;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }