.nav-item {
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-left: 10px;
    margin-right: 20px;
}
.grid-card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.grid-two-layers {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.info-preview-grid {
    display: block;
    border: 1px solid;
}
.info-preview {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 5px;
    margin: 10px 10px;
}
.left-relevant-info {
    border: 1px solid;
   
}
.right-relevant-info {
    padding-right: 10px;
}
.info-container {
    margin-left: 25px;
    margin-bottom: 20px;
}

.text > p {
    
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    text-align: justify;
}

.other-information-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2px;
}


.container {
    width: 200px;
      
      background-color: #f2f2f2;
      text-align: center;
      
     
}
h1,h2,h3 {
    text-align: center;
}

.container img {
    max-width: 100%;
      
}
.container-img > p {
    display: inline;
    margin: 0;
}

/*SIDEBAR*/
.img-container2 {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.logo-icon {
    max-width: 100%;
    
}


     


