 /* Add your custom styles here */

      /* Example of a media query for smaller screens */
      @media (max-width: 768px) {
        /* Adjustments for smaller screens go here */

        /* Example: Make the grid columns stack on top of each other */
        .grid,
        .grid-card,
        .grid-two-layers {
            max-width: 100%;
            grid-template-columns: repeat(1,1fr);
            
            
             /* Make each column full-width on smaller screens */
        }
        body {
          
          padding: 0;
          height: 100vh; /* 100% del alto del viewport */
          width: 100vw; /* 100% del ancho del viewport */
          
        }
        .navbar {
          max-width:100%;
          
        }
        .grid {
          
          margin-top: 90px;
          margin-right: 0;
          margin-left: 0;
          
        }
        .footer {
          max-width: 100%;
        }
        .h1,h2 {
          text-align: center;
          
        }
        .info-container {
          margin-left: 0;
        }
        .right-relevant-info {
            padding-right: 0;
        }
        .pop-up-container {
          width: 90%; /* Ajustar el ancho del pop-up en pantallas pequeñas */
          left: 10%; /* Centrar el pop-up en la pantalla */
      }
      .pop-up-container img {
        display: inline-block;
        margin-left: 5px;
        max-width: 40%;
      }
        
        
    }

    @media (max-width: 576px) {
      .navbar-brand img {
          max-height: 30px; /* Adjust the logo size for smaller screens */
      }
      
      

      /* Add more specific styles for smaller screens as needed */
  }

  @media (max-width: 932px) {
      
          
          
  
      /* .grid {
          width: 100%;
          grid-template-columns: 2fr 1fr;
          
      } */
      .grid-card {
          width: 100%;
          place-items: center;
      }
  }
  @media only screen and (max-width: 600px) {
    .pop-up-container {
        width: 80%; /* Ajustar el ancho del pop-up en pantallas pequeñas */
        left: 10%; /* Centrar el pop-up en la pantalla */
    }
}